<a href="https://colab.research.google.com/github/AneHerrera3106069/SRH-EaSTM/blob/main/Herrera_Ane_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Entry-Level Test

## 1. Playing with Turtles

The turtle game has proven itself as a first exercise for programming lectures in many different languages. The turtle will move according to the instructions in the source code and draw a line. In this exercise, try to draw a square with edge length 150.

**___/5 Pts**

In [10]:
!pip3 install ColabTurtle

import ColabTurtle.Turtle as turtle
turtle.initializeTurtle(initial_speed=5) 
turtle.color('blue')
turtle.forward(150)
turtle.right(90)
turtle.color('red')
turtle.forward(150)
turtle.right(90)
turtle.forward(150)
turtle.right(90)
turtle.forward(150)

Requirement already satisfied: ColabTurtle in /usr/local/lib/python3.7/dist-packages (2.1.0)

## 2. Playing with Turtles (Advanced)

The house of St. Nicolaus is a German pun. It is a graph-based puzzle with over 40 different solutions. You can find a graphic representation at the following address:
[Video](https://upload.wikimedia.org/wikipedia/commons/f/f0/Haus_vom_Nikolaus_eulerian_hori.webm)
[Picture](https://de.wikipedia.org/wiki/Haus_vom_Nikolaus#/media/Datei:Haus_vom_Nikolaus_eulerian_vert.svg)
Please make the turtle draw the house of St. Nicolaus in the way you like the most. 
<br>
**___/10 Pts**

In [20]:
!pip3 install ColabTurtle

import ColabTurtle.Turtle as turtle
turtle.initializeTurtle(initial_speed=5) 
turtle.color('blue')
turtle.forward(100)
turtle.right(45)
turtle.color('red')
turtle.forward(70)
turtle.right(90)
turtle.forward(70)
turtle.right(45)
turtle.forward(100)
turtle.right(90)
turtle.forward(100)
turtle.right(135)
turtle.forward(141)
turtle.left(135)
turtle.forward(100)
turtle.left(135)
turtle.forward(141)

Requirement already satisfied: ColabTurtle in /usr/local/lib/python3.7/dist-packages (2.1.0)

## 3. Which of the following is the output of the below Python code?
<br>

**___/5 Pts**

In [22]:
class A:
    def __init__(self):
        self.x = 1
        self.__y = 1

        def getY(self):
            return self.__y
a = A()
a.x = 45
print(a.x)

45


    [_] The program runs fine and prints 1.
    [_] The program has an error because y is private and cannot be access outside of the class.
    [_] The program has an error because x is private and cannot be access outside of the class.
    [_] The program has an error because you cannot name a variable using __y.
    [X] The program runs fine and prints 45.

## 4. The following code reads two numbers. Which of the following is the correct input for the code?
<br>

**___/5 Pts**

In [35]:
x, y = eval(input("Enter two numbers:  "))
print(x)
print(y)

Enter two numbers:  3,4,
3
4


    [_] <pre>3 4</pre>
    [_] 3 4
    [X] 3, 4
    [X] 3,4,
    [_] None

## 5. Which of the following is true for the below statement?
<br>

**___/5 Pts**

In [36]:
import time
# The method returns .........
time.time()

1618499585.1937773


    [_] the current time in milliseconds.
    [X] the current time in milliseconds since midnight, January 1, 1970.
    [_] the current time.
    [X] the current time in seconds since the epoch.
    [X] the current time in milliseconds since midnight, January 1, 1970 GMT (the Unix time).

## 6. Which of the following is the output of the below Python code?
<br>

**___/5 Pts**

In [37]:
class A:
    def __str__(self):
        return"A"
class B(A):
    def __init__(self):
        super().__init__()
class C(B):
    def __init__(self):
        super().__init__()
def main():
    b = B()
    a = A()
    c = C()
    print(a, b, c)
main()

A A A


    [_] C C C
    [_] B B B
    [_] A B C
    [X] A A A
    [_] None

## 7. Analyze the following code fragments that assign a boolean value to the variable even?
<br>

**___/5 Pts**

In [39]:
number = 202
#Code1 
if number % 2 == 0:
    even = True
else: 
    even = False
print ("Code1: even := {}".format(even))

#Code2
even = True if number % 2 == 0 else False
print ("Code2: even := {}".format(even))

#Code3
even = number % 2 == 0
print ("Code3: even := {}".format(even))

Code1: even := True
Code2: even := True
Code3: even := True


    [_] All three are correct, but Code2 is preferred.
    [_] Code2 has a syntax error because you cannot have True and False literals in the conditional expression.
    [X] All three are correct, but Code1 is preferred.
    [_] Code3 has a syntax error because you attempt to assign a number to 'even'.
    [_] All three are correct, but Code3 is preferred.

## 8. Which of the following is the output of the following Python code?
<br>

**___/2.5 Pts**

In [40]:
d = {"python":40, "developer":45}
print(list(d.keys()))

['python', 'developer']


    [X] ["python", "developer"]
    [_] ["python":40, "developer":45]
    [_] ("python":40, "developer":45)
    [_] ("python", "developer")

## 9. Which of the following is the output of the below Python code fragment?
<br>

**___/5 Pts**

In [41]:

def f1(x = 1, y = 2):
    x = x + y
    y += 1
    print(x, y)
f1(y = 2, x = 1)

3 3


    [_] The program has a runtime error because x and y are not defined.
    [_] 2 3
    [_] 3 2
    [X] 3 3
    [_] 1 3

## 10. Which of the following is the output of the following code?
<br>

**___/5 Pts**

In [42]:
class A:
    def __init__(self, i = 2, j = 3):
        self.i = i
        self.j = j
    def __str__(self):
        return"A"
    def __eq__(self, other):
        return self.i * self.j == other.i * other.j
def main():
    x = A(1, 2)
    y = A(2, 1)
    print(x == y)
main()

True


    [X] True
    [_] 2
    [_] False
    [_] 1
    [_] None

## 11. Which of the following is the output of the below Python code?
<br>

**___/5 Pts**

In [43]:
list1 = [1, 3]
list2 = list1
list1[0] = 4
print(list2)

[4, 3]


    [_] [1, 3, 4]
    [X] [4, 3]
    [_] [1, 4]
    [_] [1, 3]

## 12. Which of the following is the output of the below Python code?
<br>

**___/5 Pts**

In [44]:
x = 2
y = 1
x *= y + 1

print(x)

4


    [_] x is 3.
    [X] None
    [_] x is 1.
    [_] x is 4.
    [_] x is 2.

## 13. Which of the following is the output of the below Python code?
<br>

**___/5 Pts**

In [45]:
myList = [1, 5, 5, 5, 5, 1]
max = myList[0]
indexOfMax = 0
for i in range(1, len(myList)):
    if myList[i] > max:
        max = myList[i]
        indexOfMax = i
print(indexOfMax)

1


    [_] 4
    [X] 1
    [_] 0
    [_] 2
    [_] 3

## 14. What is your view on the following recursive function?
<br>

**___/5 Pts**

In [52]:
def factorial(n):
      return n * factorial(n - 1)
factorial(1)

RecursionError: ignored


    [_] Invoking factorial(1) returns 1.
    [_] Invoking factorial(0) returns 0.
    [_] Invoking factorial(2) returns 2.
    [_] Invoking factorial(3) returns 6.
    [X] The function runs infinitely and causes a StackOverflowError.

## 15. Which is the output of the following Python code fragment?
<br>

**___/5 Pts**

In [50]:
x = True
y = False
z = False

if not x or y:
      print (1)
elif not x or not y and z:
      print (2)
elif not x or y or not y and x:
      print (3)
else:
      print (4)

3


    [X] 3
    [_] 2
    [_] 1
    [_] 4
    [_] None

## 16. Which of the following is the output of the below Python code?
<br>

**___/5 Pts**

In [53]:
counter = 1 

def doLotsOfStuff():
    
    global counter

    for i in (1, 2, 3): 
        counter += 1

doLotsOfStuff()

print (counter)

4


    [_] 1
    [_] 3
    [_] None
    [_] 7
    [X] 4

## 17. Which of the following is the output of the following Python code?
<br>

**___/2.5 Pts**

In [54]:
Nums = set ([1,1,2,3,3,3,4])
print (len(Nums))

4

    [_] 1
    [_] 2
    [X] 4
    [_] 7
    [_] 5

## 18. Which of the following is the output of the below Python code fragment?
<br>

**___/5 Pts**

In [55]:
class A:
    def __init__(self):
        self.i = 1
    def m(self):
        self.i = 10
class B(A):
    def m(self):
        self.i += 1
        return self.i
def main():
    b = B()
    print(b.m())
main()

2


    [X] 2
    [_] 1
    [_] 10
    [_] i is not accessible from b.

## 19. Which of the following is the output of the below Python code?
<br>

**___/5 Pts**

In [56]:
class parent:
    def __init__(self, param):
        self.v1 = param

class child(parent):
    def __init__(self, param):
        self.v2 = param

obj = child(11)
print ("%d %d" % (obj.v1, obj.v2))

AttributeError: ignored


    [_] None None
    [X] AttributeError: 'child' object has no attribute 'v1'
    [_] 11 None
    [_] None 11
    [_] 11 11

## 20. What do you think of the course so far?

    # It looks like a fun course, but I am pretty rusty in coding. Hopefully with more exercises like these ones I can catch up.
    #
    #
    #
    #
    #
    #

# **____/100 Pts**